<p>
  Are you sure you want to delete this relationship?
</p>
<% ajax_form_for :contact, :url => { :controller=>'relationship', :action => "destroy", :id => @relationship.relationshipid } do |f| %>
  <input type="hidden" value="delete" name="_method"/>
  <%= f.submit 'Delete' %>
<% end %>

