<ol start="3" class="wizard-questions-list">
  <li>
    <%= render :partial=>"wizard/answer_action.html", :locals=>{:agreementid=>@agreement.id.to_int,:qid=>3} %>
    <div class="wizard-question-text">The Library may?</div>
  </li>
</ol>