<p class="question-text">12. May the Library provide copies of the Material for people and organisations other than the Library to use in publications, films, performances, transmissions, broadcasts and in other public ways, including uses in online media?</p>

<div class="wizard-radio-option"><%= radio_button_tag "q12", "a", false %> <%= label_tag "q12_a", "Yes, the Library may provide copies but only if the Library has received my specific permission on each occasion" %></div>
<div class="wizard-radio-option"><%= radio_button_tag "q12", "b", false %> <%= label_tag "q12_b", "No, the Library may not provide copies and must refer all requests to me" %></div>