<p class="question-text">10. May the Library permit unrestricted use of the Material?</p>

<div class="wizard-radio-option"><%= radio_button_tag "q10", "a", false %> <%= label_tag "q10_a", "Yes" %></div>
<div class="wizard-radio-option"><%= radio_button_tag "q10", "b", false %> <%= label_tag "q10_b", "No" %></div>