.wizard-accordion {position: relative;}
.ui-accordion-content {font-size: 0.9em}
.ui-accordion-content .section {font-size: 1.1em}
.material .material-subset, .wizard-question-subform {margin-left: 2em; margin-top:0.5em;}
.material .material-subset textarea, .material .work-resolver-container {width: 80%;}
.material .material-resolver {margin-top: 0.5em;}
#wizardMaterialResolver {border-top-color:#AAAAAA;border-top-style:dotted;border-top-width:1px;margin-top:1em;padding-top:1em;}

.wizard-questions-list {width: 700px;}
.wizard-questions-list li {border-bottom:1px solid #EEEEEE;margin-bottom:0.5em;padding-bottom:0.5em; position: relative; vertical-align: top; min-height: 2em;}
.wizard-questions-list li.hovered {background-color: #f3f8fe}
.wizard-questions-list .wizard-question-text {width: 600px; padding-right: 20px;}
.wizard-questions-list a,.wizard-questions-list button {float: right}
.wizard-questions-list button {padding: 0 4px !important; top:0; opacity: 0.4; filter: alpha(opacity=40);}
.wizard-questions-list li.hovered button {opacity: 1; filter: alpha(opacity=100);}

.wizard-result {border:1px dashed #AAAAAA;padding:1em; margin-top: 1em; clear: both;}
.wizard-result h2 {margin:0; padding: 0}

.wizard-result .dettach-rh-action {float: right;}

.wizard-accordion h3 .completed-icon {display: none;}
.wizard-accordion h3.completed {background-image: url(../images/ui-bg_glass_95_green_1x400.png)}
.wizard-accordion h3.completed.ui-state-hover {background-image: url(../images/ui-bg_glass_95_dgreen_1x400.png)}
.wizard-accordion h3.completed .completed-icon {display: block;position:absolute;right:0.5em;top:0.5em;}

.wizard-question .question-text {font-weight: bold}

#addRoleForm .select-all-toggle {font-size: 0.9em; padding-left:0.5em;}
#addRoleForm .select-all-toggle label, #addRoleForm .select-all-toggle input {vertical-align: middle}

.wizard-radio-option {border:1px dotted #CCCCCC;margin-bottom:1em;padding:1em;}
.wizard-radio-option.checked {background-color: #eeffee; border-color: #00CC00;}

.wizard-radio-option .wizard-checkbox-suboption {padding:0.5em; border: 1px solid transparent}
.wizard-radio-option.checked .wizard-checkbox-suboption {border: 1px dashed #AAA; background-color: #FFEEEE;-moz-border-radius: 5px;-webkit-border-radius: 5px;}
.wizard-radio-option.checked .wizard-checkbox-suboption.checked {background-color: #eeffee; border-color: #00CC00;}

.ui-accordion .ui-accordion-header a {padding:0.4em 0.5em 0.3em 2.2em;line-height:1em}

.ui-accordion-header.ui-state-active {border-bottom: none;}

.wizard-actions .secondary {vertical-align: bottom;}

.wizard-radio-option p {margin: 0.5em 0;}