<p class="question-text">20. May the Library display the material in exhibitions - both in its own and other institutions' exhibitions?</p>

<div class="wizard-radio-option"><%= radio_button_tag "q20", "a", false %> <%= label_tag "q20_a", "Yes" %></div>
<div class="wizard-radio-option"><%= radio_button_tag "q20", "b", false %> <%= label_tag "q20_b", "No, the Library must refer all requests to me." %></div>