<p class="question-text">17. May the Library permit unrestricted access to and use of the Material?</p>

<div class="wizard-radio-option"><%= radio_button_tag "q17", "a", false %> <%= label_tag "q17_a", "Yes" %></div>
<div class="wizard-radio-option"><%= radio_button_tag "q17", "b", false %> <%= label_tag "q17_b", "No" %></div>