<p class="question-text">18. May the Library permit unrestricted access to the Material?</p>

<div class="wizard-radio-option"><%= radio_button_tag "q18", "a", false %> <%= label_tag "q18_a", "Yes" %></div>
<div class="wizard-radio-option"><%= radio_button_tag "q18", "b", false %> <%= label_tag "q18_b", "No" %></div>