<% if @trim.errors.size > 0 %>
  <div class="error-msg">Unable to update TRIM reference</div>
<% end %>

<div id="add" class="popup">
  <% ajax_form_for :trim, :url => { :action => 'update', :id => @trim.trimrecordid.to_i } do |f| %>
    <input name="_method" type="hidden" value="put" />
    <%= render :partial => "form.html", :locals => { :f => f} %>
    <p>
      <%= f.submit 'Update' %>
    </p>
  <% end %>
</div>
