<p class="question-text">5. May the Library permit unrestricted access to and use of the Material?</p>

<div class="wizard-radio-option"><%= radio_button_tag "q5", "a", false %> <%= label_tag "q5_a", "Yes" %></div>
<div class="wizard-radio-option"><%= radio_button_tag "q5", "b", false %> <%= label_tag "q5_b", "No" %></div>