<p>
  Are you sure you want to delete this note?
</p>
<% ajax_form_for :note, :url => { :action => "destroy" } do |f| %>
  <input type="hidden" value="delete" name="_method"/>
  <%= f.submit 'Delete' %>
<% end %>

