<p>
  Are you sure you want to delete this <%= @permission.permissiontype_lu.label %> Permission for <%= @permission.permissionholder %>?
</p>
<% ajax_form_for :permission, :url => { :action => "destroy", :id => @permission.permissionid.to_i } do |f| %>
  <input type="hidden" value="delete" name="_method"/>
  <%= f.submit 'Delete' %>
<% end %>

