<p class="question-text">8. May the Library allow unrestricted access to and use of the Material?</p>

<div class="wizard-radio-option"><%= radio_button_tag "q8", "a", false %> <%= label_tag "q8_a", "Yes" %></div>
<div class="wizard-radio-option"><%= radio_button_tag "q8", "b", false %> <%= label_tag "q8_b", "No" %></div>