<p class="question-text">16. Variation of your instructions for particular researchers - On any occasions when you have granted access to the Material for a particular researcher, may we also allow that researcher to copy the Material for research and study?</p>

<div class="wizard-radio-option"><%= radio_button_tag "q16", "a", false %> <%= label_tag "q16_a", "Yes" %></div>
<div class="wizard-radio-option"><%= radio_button_tag "q16", "b", false %> <%= label_tag "q16_b", "No" %></div>