<p class="question-text">9. May the Library allow unrestricted access to the Material?</p>

<div class="wizard-radio-option"><%= radio_button_tag "q9", "a", false %> <%= label_tag "q9_a", "Yes" %></div>
<div class="wizard-radio-option"><%= radio_button_tag "q9", "b", false %> <%= label_tag "q9_b", "No" %></div>