<%= render :partial => 'searchform' %>
<%= clear_fix %>

<div class="howto-message">
  <%= render :partial=>"news_feed.html" %>
</div>

<script type="text/javascript">
  $(".cool-box .expand-collapse-news-link").click(toggleCoolBoxSize);
</script>