<div class="info-msg">

  To search for a work or author just enter your search terms in the box above and click 'Search'.

  <br/>
  <br/>

  To go directly to a work enter the:
  <ul>
    <li>pi i.e. nla.pic-an12114769 or
    <li>Bib ID i.e. nla.cat-vn2070831
  </ul>
  into the searchbox and click 'Search'

</div>
