<div class="about-sprightly info-msg">
  <%= image_tag "big_info.png" %>
  <b>Sprightly</b> is:
  <ul>
    <li>The right way to find out about access to, copying and publishing the Library's collection material;</li>
    <li>The new way for Library staff to share information about rights holders.</li>
  </ul>
</div>